:root {
    --bg-color: #fafafa;
    --text-color: #343330;
    --header-color: #343330;
    --primary-color: #008080; 
    --secondary-color: #FF6F61;
    --icon-hover: #fafafa30;
    --filename-color:#bbbbbb;
    --primary-hover:#005555;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', Helvetica, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
    margin: 0px;
    padding: 0px 8px;
    height: 40px;
}

.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}

.teal{
    color: var(--primary-color);
}
.coral{
    color: var(--secondary-color);
}

.tool-group, .toolbar{
    display: flex;
    flex-direction: row;
}

.tool-group{
    gap: 8px;
    padding: 4px;
}

.toolbar{
    gap: 16px;
    padding: 0 8px;
    height: 28px;
}

.logo-container {
    display: inline-block;
}

.logo{
    font-family: 'Lato', Courier, monospace;
    font-size: 32px;
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.hidden {
    display: none;
}

.logo:hover .md {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.logo:hover .mdoodle {
    display: flex;
    color: var(--bg-color);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.icon{
    cursor: pointer;
    width: 20px;
    height: auto;
}
.icon:hover{
    background-color: var(--icon-hover);
    border-radius: 4px;
}

input[type=text]{
    background-color: var(--icon-hover);
    color: var(--filename-color);
    height: 20px;
    padding: 8px;
    border: none;
    outline: none;
    font-family: 'Lato', Courier, monospace;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
}


.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--filename-color);
    color: var(--text-color);
    padding: 0px 8px;
    /* height: 40px; */
    z-index: 1000;
    box-shadow: 0 2px 4px var(--header-color);
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0; 
    padding: 4px 8px;
}

.banner-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.coffee-button {
    display: flex;
    background-color: #008080;
    color: var(--bg-color);
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
}

.coffee-button:hover {
    background-color: #005555;
}

.close-btn {
    color: var(--bg-color);
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

.close-btn:hover {
    color: var(--text-color);
}


/* Responsive styles */
@media only screen and (min-width: 840px) {
}

@media only screen and (max-width: 840px) {
}

@media only screen and (max-width: 480px) {
    /* .text-tools, .list-tools, .misc-tools, .css-upload, .publish-tools{
        display: none;
        visibility: hidden;
    } */
}